{{- $class := .Get "class" -}}
{{- $link := .Get "link" -}}
{{- $text := .Get "text" -}}
{{- $buttonColor := .Get "buttonColor" -}}

{{- $external := hasPrefix $link "http" -}}
{{- $href := cond (hasPrefix $link "/") ($link | relURL) $link -}}

<a
  href="{{ $href }}"
  class="not-prose inline-block py-2 px-4 rounded-[4px] font-semibold uppercase text-nowrap text-{{ $buttonColor }}-main border border-{{ $buttonColor }}-main hover:text-{{ $buttonColor }}-light hover:border-{{ $buttonColor }}-light transition-colors no-underline self-start {{ $class }}"
  {{ if $external }}target="_blank" rel="noreferrer"{{ end -}}
>
  {{- $text -}}
</a>