{{- $title := .Get "title" -}}
{{- $subtitle := .Get "subtitle" -}}
{{- $class := .Get "class" -}}
{{- $icon := .Get "icon" -}}
{{- $image := .Get "image" -}}
{{- $imagePos := .Get "imagePos" -}}
{{- $imageClass := .Get "imageClass" -}}
{{- $link := .Get "link" -}}
{{- $buttonColor := .Get "buttonColor" | default "primary" -}}
{{- $buttonText := .Get "buttonText" -}}
{{- $span := .Get "span" | default 3 -}}

{{- $external := hasPrefix $link "http" -}}
{{- $href := cond (strings.HasPrefix $link "/") ($link | relURL) $link -}}

{{- if hasPrefix $image "/" -}}
  {{- $image = relURL (strings.TrimPrefix "/" $image) -}}
{{- end -}}


<div class="{{ $class }} lg:col-span-{{ $span }} flex flex-col gap-2 rounded-lg bg-background-default p-6">
  {{- with $image -}}
    {{- if hasPrefix $imagePos "top" -}}
      <img src="{{ . }}" class="{{ $imageClass }} max-w-fit my-0" alt="{{ $title }}" />
    {{- end -}}
  {{- end -}}
  {{ with $icon -}}
    {{- partial "utils/icon.html" (dict "name" . "attributes" "class='size-9 text-text-secondary mb-2'") -}}
  {{ end -}}
  {{ with $title -}}
    <div class="text-xl font-semibold text-text-primary ">{{ $title }}</div>
  {{- end -}}
  {{ with $subtitle -}}
    <div class="text-text-secondary">{{ $subtitle | markdownify }}</div>
  {{- end -}}
  {{- with $image -}}
    {{- if hasPrefix $imagePos "bottom" -}}
      <img src="{{ . }}" class="{{ $imageClass }} max-w-fit my-0" alt="{{ $title }}" />
    {{- end -}}
  {{- end -}}
{{- if $link -}}
  <a 
  {{ with $link }}href="{{ $href }}" {{ with $external }} target="_blank" rel="noreferrer"{{ end }}{{ end }}
  class="self-start mt-2 py-2 px-4 rounded-[4px] font-semibold uppercase text-nowrap text-{{ $buttonColor }}-main border border-{{ $buttonColor }}-main hover:text-{{ $buttonColor }}-light hover:border-{{ $buttonColor }}-light no-underline">{{ $buttonText }}</a>
{{- end -}}

  <div class="flex flex-col gap-4 mt-2">
    {{ .Inner }}
  </div>
</div>


