{{- $title := .Get "title" -}}
{{- $icon := .Get "icon" -}}
{{- $link := .Get "link" -}}

{{- $external := hasPrefix $link "http" -}}
{{- $href := cond (strings.HasPrefix $link "/") ($link | relURL) $link -}}

{{- if $link -}}
  <a 
    {{ with $link }}href="{{ $href }}" {{ with $external }} target="_blank" rel="noreferrer"{{ end }}{{ end }}
    class="no-underline text-text-primary hover:text-primary-main flex py-2 gap-3 transition-colors">
    {{ with $icon -}}
      {{- partial "utils/icon.html" (dict "name" . "attributes" "class='size-5'") -}}
    {{ end -}}
    {{ $title }}
    <svg class="ml-auto shrink-0" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M8 16.4725L12.9446 11.5L8 6.5275L9.5223 5L16 11.5L9.5223 18L8 16.4725Z"/></svg>
  </a>
{{- end -}}