{{- $title := .Get "title" -}}
{{- $subtitle := .Get "subtitle" -}}
{{- $class := .Get "class" -}}
{{- $icon := .Get "icon" -}}
{{- $image := .Get "image" -}}
{{- $imagePos := .Get "imagePos" -}}
{{- $imageClass := .Get "imageClass" -}}
{{- $link := .Get "link" -}}
{{- $buttonLink := .Get "buttonLink" -}}
{{- $span := .Get "span" | default 1 -}}

{{- $external := hasPrefix $link "http" -}}
{{- $href := cond (strings.HasPrefix $link "/") ($link | relURL) $link -}}

{{- if hasPrefix $image "/" -}}
  {{- $image = relURL (strings.TrimPrefix "/" $image) -}}
{{- end -}}

{{- if $link -}}
<a
  {{ with $link }}href="{{ $href }}" {{ with $external }} target="_blank" rel="noreferrer"{{ end }}{{ end }}
  class="{{ $class }} lg:col-span-{{ $span }} flex flex-col gap-2 rounded-lg bg-background-paper border border-white/0 hover:border-white/20 p-6 no-underline group transition-colors"
>
{{- end -}}
{{- if $buttonLink -}}
<div
  class="{{ $class }} lg:col-span-{{ $span }} flex flex-col gap-2 rounded-lg bg-background-default p-6 no-underline group transition-colors"
>
{{- end -}}
  {{- with $image -}}
    {{- if hasPrefix $imagePos "top" -}}
      <img src="{{ . }}" class="{{ $imageClass }} max-w-fit my-0" alt="{{ $title }}" />
    {{- end -}}
  {{- end -}}
  {{ with $icon -}}
    {{- partial "utils/icon.html" (dict "name" . "attributes" "class='size-9 text-text-secondary group-hover:text-primary-main transition-colors mb-2'") -}}
  {{ end -}}
  {{ with $title -}}
    <div class="text-xl font-semibold text-text-secondary group-hover:text-text-primary transition-colors">{{ $title }}</div>
  {{- end -}}
  {{ with $subtitle -}}
    <div class="text-text-secondary">{{ $subtitle | markdownify }}</div>
  {{- end -}}
  {{- with $image -}}
    {{- if hasPrefix $imagePos "bottom" -}}
      <img src="{{ . }}" class="{{ $imageClass }} max-w-fit my-0" alt="{{ $title }}" />
    {{- end -}}
  {{- end -}}
{{- if $link -}}
</a>
{{- end -}}
{{- if $buttonLink -}}
  <a class="mt-2 py-2 px-4 rounded-[4px] font-semibold uppercase text-nowrap text-primary-main border border-primary-main hover:text-primary-light hover:border-primary-light no-underline">Button Test</a>
</div>
{{- end -}}