{{- $items := split (.Get "items") "," -}}
{{- $defaultIndex := int ((.Get "defaultIndex") | default "0") -}}

{{- if not $items -}}
  {{ errorf "no items provided" }}
{{- end -}}

<div class="hextra-tabs flex flex-col gap-6 ">
  <div>
    <div class="hx-flex hx-w-max hx-min-w-full hx-pb-px">
      {{- range $i, $item := $items -}}
        <button
          class="hextra-tabs-toggle data-[state=selected]:text-primary-main hover:text-text-secondary text-text-tertiary text-2xl font-semibold tracking-wide transition-colors select-none p-2 text-center w-full"
          role="tab"
          type="button"
          aria-controls="tabs-panel-{{ $i }}"
          {{- if eq $i $defaultIndex }} aria-selected="true" {{ end -}}
          {{- if eq $i $defaultIndex }} tabindex="0" {{ end -}}
          {{- if eq $i $defaultIndex }} data-state="selected"{{ end -}}
        >
          {{- $item -}}
        </button>
      {{- end -}}
    </div>
  </div>
  <div>
    {{- .Inner -}}
  </div>
</div>
{{- /* Drop trailing newlines */ -}}