:root {
    --primary-hue: 357.41deg;
    --primary-saturation: 100%;
    /* Hextra adds 5% in most places  */
    --primary-lightness: 70%;
    font-family: "Roboto";
}.sidebar-active-item {
    background-color: transparent;
}

.sidebar-active-item:is(html[class~="dark"] *) {
    background-color: transparent;
}
