:root {
    --primary-hue: 357.41deg;
    --primary-saturation: 100%;
    /* Hextra adds 5% in most places  */
    --primary-lightness: 70%;
    font-family: "Roboto";
}

.sidebar-active-item {
    background-color: transparent;
}

.sidebar-active-item:is(html[class~="dark"] *) {
    background-color: transparent;
}

.hextra-footer {
    background-color: transparent;
}

.hextra-footer:is(html[class~="dark"] *) {
    background-color: transparent;
}

.hextra-custom-footer {
    padding-left: max(env(safe-area-inset-left),0rem);
    padding-right: max(env(safe-area-inset-right),0rem);
}
