:root {
    --primary-hue: 357.41deg;
    --primary-saturation: 100%;
    /* Hextra adds 5% in most places  */
    --primary-lightness: 70%;
    --sidebar-bg-selected-opacity: 0;
    font-family: "Roboto";
}

.hextra-footer {
    background-color: transparent;
}

.hextra-footer:is(html[class~="dark"] *) {
    background-color: transparent;
}
