{{- if not .aboveVisible -}}
<hr class="dark:hx-border-neutral-800" />
{{- end -}}
<!-- <div style="width: 100%;">
    <div class="pl-12 md:pl-24 flex flex-col gap-6 md:flex-row md:gap-24 py-6 md:pb-12 text-black dark:text-white">
        <div class="flex flex-col items-start">
            <h2 class="text-lg">Company</h2>
            <a class="h-6 px-1 text-xs mt-2" href="/hello">About</a>
            <a class="h-6 px-1 text-xs" href="/hello">Case Studies</a>
            <a class="h-6 px-1 text-xs" href="/hello">Support</a>
            <a class="h-6 px-1 text-xs" href="/hello">Contact</a>
        </div>
        <div class="flex flex-col items-start">
            <h2 class="text-lg">Community</h2>
            <a class=" h-6 px-1 text-xs mt-2" href="/hello">Knowledge Base</a>
            <a class=" h-6 px-1 text-xs" href="/hello">News</a>
            <a class=" h-6 px-1 text-xs" href="/hello">Blog</a>
            <a class=" h-6 px-1 text-xs" href="/hello">Forum</a>
        </div>
        <div class="flex flex-col items-start">
            <h2 class="text-lg">Legal</h2>
            <a class=" h-6 px-1 text-xs mt-2" href="/hello">Terms</a>
            <a class=" h-6 px-1 text-xs" href="/hello">Cookies Policy</a>
            <a class=" h-6 px-1 text-xs" href="/hello">Privacy Policy</a>
            <a class=" h-6 px-1 text-xs" href="/hello">EULA</a>
        </div>
    </div>
</div>
<hr class="dark:hx-border-neutral-800" /> -->
<div class="flex flex-col sm:flex-row items-center justify-center py-6 text-black dark:text-white/70 gap-6 sm:gap-12">
    <p class="text-xs">© Netduma Ltd 2024</p>
    <p class="text-xs">© Netduma Software Ltd 2024</p>
</div>